<div class='container' style='padding-top: 60px;'>
  <div class='row'>
    <section class='main col-md-9'>
      <article>
        <h2>
          About
        </h2>
        <p>
          My name is Sanam Lakhotra. My student Id is 151835212. Currently,
              I'm enrolled in computer programming course in Seneca College.
              Currently, I am working on Assignment 2 of Web Development. I had
              completed my high school in India with First Class.
        </p>
      </article>
    </section>
    <aside class='col-md-3'>
      <h2>
        Future Plans
      </h2>
      <p>
        My future plan is to complete the Computer Programming course and
            after this I want to masterize myself in Database field. My goal is
            to work as a Database Engineer as I'm fond to learn how the system
            works in the database.
      </p>
    </aside>
  </div>
</div>